#calendar, #cloned, #denolc {
    overflow: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    box-sizing: border-box;
    z-index: 250;
}
.calendar-ease{
    transition: transform 0.5s ease-out;
}
.calendar-quick{
    transition: transform 0 ease-out;
}
#calendar {
    border-radius: 50px;
}
.appointment {
    font-size: 1.5em;
}
.confirmed {
    background-color: #ddfcac;
}
.fc-header-toolbar {
    font-size: 1em;
}
.fc-button-group {
    left: 0px;
}
.fc-event-title {
    color: #000000;
    line-height: 0.9;
}
.fc-prev-button, .fc-next-button {
    color: #000000 !important;
    background-color: #FFFFFF !important;
    border: 0 !important;
}
#container {
  overflow: hidden;
  height: 100%;
}
.slide-out {
  display: block;
  transform: translateX(-100%);
}
.slide-out-right {
  display: none;
  transform: translateX(100%);
}
.slide-out-right-show {
  display: block;
  transform: translateX(100%);
}
.slide-in {
  display: block;
  transform: translateX(0%);
}
.slide-in-right {
  display: none;
  transform: translateX(-100%);
}
.slide-in-from-right {
  display: block;
  transform: translateX(100%);
}
#cloned {
    z-index: 100;
    margin: 7%;
    width: 86%
}
#denolc {
    z-index: 100;
    margin: 7%;
    width: 86%
}
